<app-header></app-header>
<div class="container-fluid u-m-0 u-p-0">
  <div class="site-banner">
    <div id="carouselExampleIndicators" class="carousel slide cover-bg u-bg-overlay" data-ride="carousel" data-pause="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/images/banner3.jpg" alt="First slide" />
          <div class="carousel-caption d-none d-md-block">
            <h1>Reduced TCO</h1>
            <h4>
              Innovative Pricing models based on efforts expended and not on FTE
              deployed
            </h4>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/images/banner2.jpg" alt="Second slide" />
          <div class="carousel-caption d-none d-md-block">
            <h1>Extended Coverage</h1>
            <h4>
              24 x 7 x 365 support model to meet global demands &amp; business
              exigencies
            </h4>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/images/banner1.jpg" alt="Third slide" />
          <div class="carousel-caption d-none d-md-block">
            <h1>Improved Customer Satisfaction</h1>
            <h4>SLA based performance measurement</h4>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
    </div>
  </div>

  <div>
    <a class="anchor" id="section1"></a>
    <div class="container u-pt-3 u-pb-3">
      <h1 class="u-mb-2">Why Source Code Solutions?</h1>
      <div class="row">
        <div class="col-sm col-md-6 u-mb-2@small d-md-none u-mb-2 u-mb-0@large">
          <img class="w-100" src="assets/images/banner4.jpg" alt="First slide" />
        </div>
        <div class="col-sm col-md-12">
          <div class="row">
            <div class="col-sm col-md-6">
              <h4>Full end-to-end support</h4>
              <p class="u-mt-0 u-mt-1@medium">
                You can choose our best consulting minds for solutions or/and pick
                our remote DBA services that are right for your business – from
                staff and skill augmentation to full end-to-end support
              </p>

              <h4>Design and Architecture</h4>
              <p class="u-mt-0 u-mt-1@medium">
                Our collaborative approach to database architecture and design
                gives you access to remote DBA service experts familiar with all
                aspects of a particular implementation, upgrade, or customization.
              </p>
            </div>
            <div class="col-sm col-md-6">
              <h4>Proactive Database Administration</h4>
              <p class="u-mt-0 u-mt-1@medium">
                Our ticketing/workflow system automatically routes, tracks, and
                escalates issues to ensure timely resolution.
              </p>

              <h4>24x7x365 Support</h4>
              <p class="u-mt-0 u-mt-1@medium">
                We leverage an integrated set of tools, processes, and domestic
                and offshore employees to provide live, round-the-clock
                monitoring, management, and service requests.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="u-bg-secondary">
    <div class="container u-pt-3 u-pb-3">
      <h1 class="u-mb-2">One Stop for All Databases</h1>
      <ul class="icon-list">
        <li>
          <i class="far fa-check-circle icon"></i>
          Source Code Solutions provides Databases and Application Managed
          Services and Consulting using the latest technologies and committed to
          customer satisfaction.
        </li>
        <li>
          <i class="far fa-check-circle icon"></i>
          Our goal is to provide our clients with innovative and efficient
          solutions and services to achieve maximum profitability and IT
          efficiency.
        </li>
        <li>
          <i class="far fa-check-circle icon"></i>
          Our Support Services and Solutions have been carefully designed to be
          customer-centric and flexible for the present and future.
        </li>
        <li>
          <i class="far fa-check-circle icon"></i>
          We leverage an Integrated set of Tools, Processes, Domestic and offshore
          employees to provide Live, Round-the-clock Monitoring, Management and
          Services to our clients.
        </li>
        <li>
          <i class="far fa-check-circle icon"></i>
          Source Code Solutions is proud to have experts with a proven track
          record and plenty of passion in the technologies they work on.
        </li>
        <li>
          <i class="far fa-check-circle icon"></i>
          We offer a wide range of services and solutions through our 2 divisions
          - Database Consulting and Managed Services.
        </li>
      </ul>
    </div>
  </div>

  <div>
    <div class="container u-pt-3 u-pb-3">
      <a class="anchor" id="section2"></a>
      <h1 class="u-mb-2">Benefits of working with Source Code Solutions</h1>
      <div class="row">
        <div class="col-sm col-md-6">
          <ul class="icon-list">
            <li>
              <i class="far fa-check-circle icon"></i>
              Reduced TCO – Innovative Pricing models based on efforts expended
              and not on FTE deployed
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Extended Coverage - 24 x 7 x 365 support model to meet global
              demands & business exigencies
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Flexibility & Scalability – Ability to meet varying business demands
              giving economies of scale.
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              We take full accountability to deliver results.
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Excellent value for money.
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Low Total Cost of Ownership.
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Sole focus on Oracle solutions.
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Experts in our field.
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Clearly defined penalty-based SLAs.
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              100% Data insured.
            </li>
          </ul>
        </div>
        <div class="col-sm col-md-6">
          <ul class="icon-list">
            <li>
              <i class="far fa-check-circle icon"></i>
              Primary & Backup point of contact for all customers.
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Knowledge Retention – Knowledge Management tool helps in capturing &
              defining knowledge base
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Improved Customer Satisfaction – SLA based performance measurement
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Standardized Processes – Deployment of Standardized set of tools &
              processes across engagements
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Leverage Best Practices using ITIL Framework
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Agile and reactive, can react to changes and meet deadlines.
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Highly scalable deployments.
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Deliver an optimized solution at an optimal price.
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>

              Ongoing support can be provided by our onsite/offshore managed
              service and support team.
            </li>
            <li>
              <i class="far fa-check-circle icon"></i>
              Strong past experience of working in a variety of industry sectors
              and organizations sizes.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="u-bg-primary u-fg-light">
    <a class="anchor" id="section3"></a>
    <div class="container u-pt-3 u-pb-3">
      <h1 class="u-mb-2 text-center">Contct Us</h1>
      <div class="text-center">
        40 Craigs Park, <br>Edinburgh, <br>EH12 8UL
      </div>
    </div>
  </div>
  <div class="u-bg-primary u-fg-light site-footer">
    <div class="container u-pt-0 u-pb-0 text-center">
      <span class="fw-lighter">&copy; Source Code Solutions Ltd. All rights reserved</span>
    </div>
    <div>
      <a href="#" class="scroll-top">
        <i class="fas fa-chevron-up"></i>
      </a>
    </div>
  </div>
